<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techteam.decider" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data android:name="AA_DB_NAME" android:value="Decider.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="4" />
        <meta-data
            android:name="AA_MODELS"
            android:value="org.techteam.decider.content.entities.UserEntry,
                           org.techteam.decider.content.entities.PollItemEntry,
                           org.techteam.decider.content.entities.QuestionEntry,
                           org.techteam.decider.content.entities.TransactionEntry,
                           org.techteam.decider.content.entities.CategoryEntry,
                           org.techteam.decider.content.entities.UploadedImageEntry
                           " />

        <activity
            android:name=".gui.activities.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.vk.sdk.VKOpenAuthActivity" />
        <!-- Declare the bundled CropImage Activity -->
        <activity android:name="com.android.camera.CropImage"/>

        <service
            android:name=".rest.service.DeciderService"
            android:exported="false" >
        </service>

        <provider android:authorities="org.techteam.decider" android:exported="false" android:name="com.activeandroid.content.ContentProvider" />

        <!--<provider-->
            <!--android:authorities="org.techteam.decider.db.providers.DeciderDbProvider"-->
            <!--android:name=".db.providers.DeciderDbProvider"-->
            <!--android:exported="false">-->
        <!--</provider>-->
        <!--<provider-->
            <!--android:authorities="org.techteam.decider.db.providers.TransactionProvider"-->
            <!--android:name=".db.providers.TransactionProvider"-->
            <!--android:exported="false">-->
        <!--</provider>-->
    </application>

</manifest>
