<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techteam.decider" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="org.techteam.decider.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="org.techteam.decider.permission.C2D_MESSAGE" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data android:name="AA_DB_NAME" android:value="Decider.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="5" />
        <meta-data
            android:name="AA_MODELS"
            android:value="org.techteam.decider.content.entities.UserEntry,
                           org.techteam.decider.content.entities.PollItemEntry,
                           org.techteam.decider.content.entities.QuestionEntry,
                           org.techteam.decider.content.entities.QuestionNewEntry,
                           org.techteam.decider.content.entities.QuestionPopularEntry,
                           org.techteam.decider.content.entities.QuestionMyEntry,
                           org.techteam.decider.content.entities.TransactionEntry,
                           org.techteam.decider.content.entities.CategoryEntry,
                           org.techteam.decider.content.entities.CommentEntry,
                           org.techteam.decider.content.entities.UploadedImageEntry
                           " />

        <activity
            android:name=".gui.activities.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.activities.AuthActivity"
            android:label="@string/auth_title"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity android:name="com.vk.sdk.VKOpenAuthActivity" />
        <!-- Declare the bundled CropImage Activity -->
        <activity android:name="com.android.camera.CropImage"/>

        <service
            android:name=".rest.service.DeciderService"
            android:exported="false" >
        </service>

        <provider
            android:authorities="org.techteam.decider"
            android:exported="false"
            android:name="com.activeandroid.content.ContentProvider" />

        <provider
            android:name="org.techteam.decider.gui.WorkingFileProvider"
            android:authorities="org.techteam.decider.lol"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="org.techteam.decider" />
            </intent-filter>
        </receiver>
        <service
            android:name="org.techteam.decider.gcm.DeciderGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="org.techteam.decider.gcm.DeciderInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

    </application>

</manifest>
